body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal zentrieren */
    justify-content: center; /* Vertikal zentrieren */
    min-height: 100vh;
    margin: 0;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    pointer-events: none;
    opacity: 0;
}